a {
    color: black;
    font-weight: bold;
}

#navbar a {
    padding: 2px .75rem;
    margin-left: 5px;
}

#navbar a:hover {
    text-decoration: none;
    color: white;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle:hover {
    color: white;
}