a {
    color: black;
    font-weight: bold;
}

#navbar a {
    padding: 2px .2rem 2px 1rem;
    margin-left: 5px;
}

#navbar .dropdown-menu a {
    padding: 2px .75rem;
    margin-left: 0;
}

#navbar a:hover {
    text-decoration: none;
    color: white;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle:hover {
    color: white;
}

.dropdown-menu {
    transition: all 0.5s ease-in-out;
  }
  
.dropdown-item:hover{
    background-color:transparent;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,1);
    border-color: rgba(0,0,0,.5);
    padding: .2rem .5rem;
}